*{
    font-size: 30px;
}
/* slider start */
.header{
    background: linear-gradient(45deg,#aa076b, #61045f);
}
.vh-40{
    max-height: 40vh;
}
.w-30{
    width: 35%;
}
.c-indicator{
    top: 0;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}
.c-indicator [data-bs-target] {
    background-color: #fff;
}
.c-indicator .active {
    opacity: 1;
    background: linear-gradient(45deg,blue, skyblue,white);
}
.c-indicator [data-bs-target] {
    width: 15px;
    height: 15px;
    margin-bottom: 6px;
    margin-left: 0;
    border: 0;
    display: inherit;
    border-radius: 50%;
}
.b-banner img{
    float: right;
}
.b-caption{
    top: 10%;
    left: 0;
    right: 0;
    width: 50%;
    text-align: left;
}
.b-caption h5{
    color: white;
}
.b-caption p{
    color: #d8d6d6;
    font-size: 18px;
}
.c-prev{}
.c-next{
    left: 12%;
}
.c-prev, .c-next{
    top: 100%;
    bottom: 0;
    color: white;
}
/* slider end */
/* layout start */
.c-bg{
    background: #eeaeca;

}
.box{
    margin-bottom: 10px;
    text-align: center;
    min-height: 90px;
    background: linear-gradient(45deg, #140024, #0b0979, #00d4ff) ;
    color: white;
}
.three{
    background:linear-gradient(50deg, #833ab4, #fd1d1d, #fcb045);

}
.five{
    background: linear-gradient(120deg,#22c383, #c4fd2d);
}
/* layout end */